<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>animations</key>
<dict>
<key>jiangli</key>
<dict>
<key>delay</key>
<real>0.1000</real>
<key>frames</key>
<array>
<string>JinBi_0</string>
<string>JinBi_1</string>
<string>JinBi_2</string>
</array>
</dict>
</dict>
</dict>
</plist>
