<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>dishu_0</key>
<dict>
<key>frame</key>
<string>{{0,0},{110,102}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{110,102}}</string>
<key>sourceSize</key>
<string>{110,102}</string>
</dict>
<key>dishu_1</key>
<dict>
<key>frame</key>
<string>{{110,0},{110,102}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{110,0},{110,102}}</string>
<key>sourceSize</key>
<string>{110,102}</string>
</dict>
<key>dishu_2</key>
<dict>
<key>frame</key>
<string>{{220,0},{110,102}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{220,0},{110,102}}</string>
<key>sourceSize</key>
<string>{110,102}</string>
</dict>
<key>dishu_3</key>
<dict>
<key>frame</key>
<string>{{330,0},{110,102}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{330,0},{110,102}}</string>
<key>sourceSize</key>
<string>{110,102}</string>
</dict>
<key>dishu_4</key>
<dict>
<key>frame</key>
<string>{{440,0},{110,102}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{440,0},{110,102}}</string>
<key>sourceSize</key>
<string>{110,102}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>laoshu.png</string>
<key>size</key>
<string>{550,102}</string>
<key>TextureFileName</key>
<string>laoshu.png</string>
</dict>
</dict>
</plist>
