<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>StartBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1030},{640,638}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,638}}</string>
                <key>sourceSize</key>
                <string>{640,638}</string>
            </dict>
            <key>aboutMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1874},{185,79}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{185,79}}</string>
                <key>sourceSize</key>
                <string>{261,99}</string>
            </dict>
            <key>bighammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{500,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,522}}</string>
                <key>sourceSize</key>
                <string>{500,522}</string>
            </dict>
            <key>digital.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1970},{388,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,54}}</string>
                <key>sourceSize</key>
                <string>{390,54}</string>
            </dict>
            <key>gameBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1672},{252,246}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2003},{48,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>helpBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{553,842}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,842}}</string>
                <key>sourceSize</key>
                <string>{553,842}</string>
            </dict>
            <key>monk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1974},{66,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,94}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>monk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1874},{58,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{58,94}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>monk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1874},{50,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{50,98}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>monk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1874},{44,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{44,98}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1026}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1026}}</string>
                <key>sourceSize</key>
                <string>{640,1026}</string>
            </dict>
            <key>smallhammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1953},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>startGameMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1874},{181,77}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,11},{181,77}}</string>
                <key>sourceSize</key>
                <string>{261,99}</string>
            </dict>
            <key>ten.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1974},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,2},{640,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,380}}</string>
                <key>sourceSize</key>
                <string>{640,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameResouce.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df2f462711d9edb3edb81aaa152e38f3:1/1$</string>
            <key>textureFileName</key>
            <string>GameResouce.png</string>
        </dict>
    </dict>
</plist>
