<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MatchCard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,2},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>MatchCard2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{113,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,116}}</string>
                <key>sourceSize</key>
                <string>{113,116}</string>
            </dict>
            <key>MatchCard3.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{114,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,115}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>MatchCard3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{112,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,115}}</string>
                <key>sourceSize</key>
                <string>{112,115}</string>
            </dict>
            <key>MatchCard4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,2},{113,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,118}}</string>
                <key>sourceSize</key>
                <string>{113,118}</string>
            </dict>
            <key>MatchCard4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,120}}</string>
                <key>sourceSize</key>
                <string>{117,120}</string>
            </dict>
            <key>MatchCard5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{112,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,114}}</string>
                <key>sourceSize</key>
                <string>{112,114}</string>
            </dict>
            <key>MatchCard5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{117,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,115}}</string>
                <key>sourceSize</key>
                <string>{117,115}</string>
            </dict>
            <key>MatchCard6.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>MatchCard6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{115,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,119}}</string>
                <key>sourceSize</key>
                <string>{115,119}</string>
            </dict>
            <key>MatchCard7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{112,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,114}}</string>
                <key>sourceSize</key>
                <string>{112,114}</string>
            </dict>
            <key>MatchCard7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{112,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,115}}</string>
                <key>sourceSize</key>
                <string>{112,115}</string>
            </dict>
            <key>MatchCard8.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>MatchCard8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{119,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,117}}</string>
                <key>sourceSize</key>
                <string>{119,117}</string>
            </dict>
            <key>MatchCard9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>MatchCard9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,2},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>MatchCardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,2},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Match.png</string>
            <key>size</key>
            <string>{1973,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f82aaecf35c2c4ced299f15c00da5839$</string>
            <key>textureFileName</key>
            <string>Match.png</string>
        </dict>
    </dict>
</plist>
